---
import { getCollection } from "astro:content";
import PostsList from "../components/PostsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

// 下書き以外を取得し，新しい順にソート
const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
  <main>
    <PostsList posts={posts} />
  </main>
</BaseLayout>
