---
const today = new Date();
---

<footer>
  <a href="https://github.com/naga-naga">
    <img class="github-icon" src="/github-mark.svg" />
  </a>
  <p>&copy; {today.getFullYear()} naga-naga</p>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }

  .github-icon {
    width: 2rem;
  }

  a:hover {
    opacity: 0.7;
  }
</style>
