---
import { SITE_TITLE } from "../consts";
---

<header>
  <h1>
    <a href="/">{SITE_TITLE}</a>
  </h1>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h1 {
    margin: 0.5em 0;
  }
  a {
    color: #d9dae6;
    text-decoration: none;
  }
</style>
